* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
body{
  background-color: #f5f5f5;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
a {
  all: unset;
}

/* Website Arrow */
.arrow-up{
  background-color: rgb(52, 132, 253);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 1%;
  right:1%;
  z-index: 100000;
}

/* Navbar Section */
.logo {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
}
.nav-item{
  cursor: pointer;
}
.dropdown-item:hover{
  color: blue;
  scale: 1;
}
nav a{
  transition: 0.5s;
}
body .hov:hover,
body:has(#home:target) .homeLink,
body:has(#about:target) .aboutLink,
body:has(#services:target) .serviciesLink,
body:has(#portfolio:target) .workLink,
body:has(#blog:target) .blogLink,
body:has(#contact:target) .contactLink,
body:not(:has(:target)) .homeLink
{
  border-bottom: 2px solid white;
  width: 75%;
  color: white;
}

/* Home Section */
header {
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center center;
}
h1 {
  color: aliceblue;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.animate-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.animate-content::after {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  content: "|";
  animation-name: typing;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}
@keyframes typing {
  0% {
    content: "|";
  }
  2% {
    content: "De|";
  }
  4% {
    content: "Deve|";
  }
  6% {
    content: "Develo|";
  }
  8% {
    content: "Developer|";
  }
  15% {
    content: "Develop|";
  }
  17% {
    content: "Deve|";
  }
  19% {
    content: "De|";
  }
  21% {
    content: "|";
  }
  23% {
    content: "Fr|";
  }
  25% {
    content: "Free|";
  }
  27% {
    content: "Freela|";
  }
  29% {
    content: "Freelanc|";
  }
  31% {
    content: "Freelancer|";
  }
  40% {
    content: "Freelanc|";
  }
  42% {
    content: "Freela|";
  }
  44% {
    content: "Free|";
  }
  46% {
    content: "Fr|";
  }
  48% {
    content: "|";
  }
  50% {
    content: "De|";
  }
  52% {
    content: "Desi|";
  }
  54% {
    content: "Design|";
  }
  56% {
    content: "Designer|";
  }
  58% {
    content: "Design|";
  }
  70% {
    content: "Desi|";
  }
  72% {
    content: "De|";
  }
  74% {
    content: "|";
  }
  76% {
    content: "Ph|";
  }
  78% {
    content: "Phot|";
  }
  80% {
    content: "Photog|";
  }
  82% {
    content: "Photogra|";
  }
  84% {
    content: "Photograph|";
  }
  86% {
    content: "Photographer|";
  }
  88% {
    content: "Photograph|";
  }
  90% {
    content: "Photogra|";
  }
  92% {
    content: "Photog|";
  }
  94% {
    content: "Phot|";
  }
  96% {
    content: "Ph|";
  }
  100% {
    content: "|";
  }
}
@media (max-width: 992px){
 h1{
  font-size: 50px;
 }
 .animate-content::after {
  font-size: 1.5rem;
}
}
@media (max-width: 764px){
  h1{
    font-size: 30px;
   }
    .animate-content::after {
  font-size: 1.2rem;
}
}


/* About Section */
.cursor-pointer{
  cursor: pointer;
}
h3{
  color: black !important;
}
.line{
  width: 130px;
  height: 3px !important;
  background-color: rgb(52, 132, 253) !important;
}

/* Servicies Section */
h2 {
  color: black;
  font-size: 3.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.circle {
  background-color: transparent;
  border: 10px solid rgb(52, 132, 253);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.service-item i{
  color: black;
  transition: 0.5s;
}
.service-item:hover i{
  color: white;
}
.service-item:hover .circle{
    background-color: rgb(52, 132, 253);
    border: 10px solid rgb(41, 40, 40);
    transition: 0.5s;
    border: 10px solid rgb(179, 208, 251);
}
.service-items{
  --gap: 30px;
  gap: var(--gap);
}
.service-item{
  width: calc(calc(100% - var(--gap) * 2) / 3) ;
}
@media (max-width: 992px){
  .service-item{
    width: calc(calc(100% - var(--gap) * 2) / 2) ;
  }
}
@media (max-width: 764px){
  .service-item{
    width: 100% ;
  }
}

/* numbers section*/
.numbers {
  background-image: url(../img/post-3.jpg);
  height: 70vh;
  background-size: cover;
}
.numbers-layer {
   height: 100%;
  background-color: rgb(0, 96, 204);
}
.icon .circle {
  border-color: #cde1f8;
  width: 80px;
  height: 80px;
}
.icons{
  --gap: 10px;
  gap: var(--gap);
}
.icon{
  width: calc(calc(100% - var(--gap) * 3) / 4) ;
}
@media (max-width: 992px){
  .icon{
    width: calc(calc(100% - var(--gap) * 3) / 2) ;
  }
  .numbers{
    height: 80vh;
  }
}
@media (max-width: 764px){
  .icon{
    width: 100% ;
  }
  .numbers{
    height: 150vh;
  }
}

/* 
Portfolio Section */
.section img{
  transition: 1s;
}
.content .circle {
  height: 50px;
  width: 50px;
  border: 4px solid rgb(51, 161, 255);
}
.content span {
  color: rgb(51, 161, 255);
}
.section img:hover {
  transform: scale(1.1);
}
.sections{
  --gap: 30px;
  gap: var(--gap);
}
.section{
  width: calc(calc(100% - var(--gap) * 2) / 3) ;
}
@media (max-width: 992px){
  .section{
    width: calc(calc(100% - var(--gap) * 2) / 2) ;
  }
}
@media (max-width: 764px){
  .section{
    width: 100% ;
  }
  .numbers{
    height: 150vh;
  }
}

/* carousel section */
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.carousel{
  background-image: url(../img/overlay-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
.overlay-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 96, 204, 0.6); /* Change the color and opacity as per your preference */
}
.imgContainer{
  position: relative;
  z-index: 0;
}
.carousel-item img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Blog Section */
.bolg .container{
  --gap: 30px;
  gap: var(--gap);
}
.innerContainer{
  width: calc(calc(100% - var(--gap) * 2) / 3) ;
}
@media (max-width: 992px){
  .innerContainer{
    width: calc(calc(100% - var(--gap) * 2) / 2) ;
  }
}
@media (max-width: 764px){
  .innerContainer{
    width: 100% ;
  }
}
.sm-img img {
  width:30px;
  height:30px;
}
.innerContainer span {
  background-color: rgb(51, 161, 255);
}
.innerContainer .spn {
  transform: translateY(-50%);
  transform: translateX(35%);
}
.end-part{
  background-color: #f8f8f8;
}
.innerContainer .name:hover, .sm-img:hover{
  color: #33a1ff;
  transition: 0.5s;
  cursor: pointer;
} 
.innerContainer{
  border: 0.2px solid #d2d2d2;

}
.end-part{
  border-top: 0.2px solid #d2d2d2;
}

/* Contact Us Section*/
.contact{
    background-image: url(../img/overlay-bg.jpg);
}
.contact .numbers-layer, .contact{
  height: 130vh;
  width: 100%; 
}
@media (max-width: 992px){
  .contact .numbers-layer, .contact{
    height: 180vh;
  }
}
@media (max-width: 764px){
  .contact .numbers-layer, .contact{
    height: 200vh;
  }
}
.contact button{
  background-color: #33a1ff;
  transition: 0.5s;
}
.contact button:hover{
  background-color: #33a1ff;
  border: 4px solid #a2cff7;
}
.contact i{
  transition: 0.5s;
}
.contact .circle{
  width: 45px;
  height: 45px;
  border: 3px solid #33a1ff;
  background-color: white;
  transition: 0.5s;
}
.contact .circle:hover i{
  color: white;
}
.contact .circle:hover{
  background-color:  #33a1ff;
  border: 3px solid #a2cff7;
}

/* footer section */
.footer-content{
  background-color: #33a1ff;
}